/* Colors */
:root {
  //Primary
  --color-strng-cyan: hsl(172, 67%, 45%);

  //Neutral
  --color-verydark-cyan: hsl(183, 100%, 15%);
  --color-darkgrayish-cyan: hsl(186, 14%, 43%);
  --color-greyish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-verylight-grayish-cyan: hsl(189, 41%, 97%);

  --color-error: #E17457;

  --color-white: hsla(360, 100%, 100%, 1);
}