@use "../abstracts/functions" as f;
@use "../abstracts/colors";

/**************************/
/* Tweaking Text Level Styles: strike-through */
/**************************/

del, s {
  text-decoration: line-through;
}

mark::before, mark::after, del::before, del::after, ins::before, ins::after, s::before, s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

s::before {
  content: ' [strike-through start] ';
}
s::after {
  content: ' [strike-through end] ';
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/**************************/
/* Body */
/**************************/

body {
  padding: f.rem(50px) 0 0;
  font-size: f.rem(24px);
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  
  height: 100%;
  
  display: grid;
  place-content: center;  
  
  background-color: var(--color-light-grayish-cyan);
}

/**************************/
/* Main */
/**************************/

main {
  max-width: f.rem(920px);
}

// Desktop
@media (width > 57.5em) {
  body {
    padding: f.rem(120px);
  }
}

